# Compiled output
dist

# Package manager lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# NX temporary directory
tmp

# Docusaurus artifacts
.docusaurus
.cache-loader

# "prettier-plugin-organize-imports" is bugged with JSX.
packages/docs/src/components/HomepageFeatures.js
packages/docs/src/pages/index.js

# API docs are automatically created by TypeDoc.
packages/docs/docs/isaacscript-common
packages/docs/docs/isaac-typescript-definitions
packages/docs/docs/eslint-config-isaacscript
