:root {
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

:root {
    --monaco-background: #fffffe;
    --monaco-accent: #c4c4c4;
}

:root[data-theme="dark"] {
    --monaco-background: #1e1e1e;
    --monaco-accent: #333333;
}

.icon {
    position: relative;
    top: 1em;
}
